@import url(https://fonts.googleapis.com/css?family=Sora:100,200,300,regular,500,600,700,800);

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

@import url(https://fonts.googleapis.com/css?family=Roboto+Flex:regular);

:root {
        --content-primary: #fff;
        --content-secondary: #c7c9cc;
        --content-tertiary: #d9d9d9;
        --content-brand: #c58de7;
        --color-inverse: #030203;

        --background-primary: #020202;
        --background-secondary: #111012;
        --background-tertiary: #24222e;
        --background-brand: #c58de7;
        --background-gray: #3d3d3d;

        --accent-pink: #d586e0;
        --accent-blue: #91a1fa;
        --accent-green: #77c0af;
        --accent-lime: #d1dc97;
        --accent-red: #e9a9b3;

        --gradient-border: linear-gradient(to right,
                        var(--accent-green),
                        var(--accent-lime),
                        var(--accent-red),
                        var(--accent-pink),
                        var(--accent-blue));

        --gradient-background: linear-gradient(to right,
                        var(--accent-pink),
                        var(--accent-blue));

        --gradient-content: linear-gradient(to right,
                        var(--content-secondary),
                        var(--background-gray));


        --font-display-lg: 800 4.5rem/1.3 "Sora", sans-serif;
        --font-display-md: 800 2.5rem/1.3 "Sora", sans-serif;
        --font-display-sm: 700 2rem/1.3 "Sora", sans-serif;
        --font-display-logo: 800 1.5rem/1.3 "Sora", sans-serif;

        --font-display-input: 700 2rem/1.5 "Sora";
        --font-overline: 700 1rem/1.5 "Roboto Mono", sans-serif;

        --font-paragraph-lg: 500 1rem/1.5 "Roboto Flex", sans-serif;
        --font-paragraph-md: 500 0.875rem/1.5 "Roboto Flex", sans-serif;
        --font-paragraph-sm: 500 0.75rem/1.5 "Roboto Flex", sans-serif;
        --font-label-md: 700 1.25rem/1.5 "Roboto Flex", sans-serif;
        --font-label-sm: 700 1rem/1.5 "Roboto Flex", sans-serif;
}
