*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: relative;
    color: var(--content-primary);
    background-color: var(--background-primary);
    background-image: url(../assets/images/background.png);
    background-position: center;
    max-width: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    padding-block: 2.75rem;
    padding-inline: 2.25rem;

    &::before {
        position: absolute;
        content: '';
        z-index: -1;
        inset: 0;
        background: linear-gradient(to bottom, #000000, #00000060);
    }
}

.header-content {
    grid-area: header;
}

.main-content {
    grid-area: main;
}

.footer-content {
    grid-area: footer;
}

/* Tablet */
@media (768px <=width <=1280px) {
    body {
        background-color: blueviolet;
    }
}

/* Desktop */
@media (width >=1280px) {
    body {
        background-color: brown;
    }
}
