.footer-content {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}

.footer-content .wrapper {
    display: flex;
    gap: 0.5rem;
}

.footer-content .wrapper .icon svg path {
    stroke: var(--content-brand);

}

.footer-content .wrapper .information span {
    color: var(--content-brand);
    font: var(--font-paragraph-md);
}

.footer-content .wrapper .information p {
    color: var(--content-secondary);
    font: var(--font-paragraph-sm);
}
